pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints/
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
*.rar
*.zip
*.tar.gz